#cookie-border{
    filter: drop-shadow(0 0 5px rgb(38, 29, 22));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
#cookie{
    transition: transform 0.1s ease;
    cursor: pointer;
    user-select: none;
    border-radius: 75%;
    border-color: black;
    border-width: 10px;
    clip-path: polygon(
        5% 20%, 30% 5%, 80% 10%, 95% 40%, 90% 80%,
        60% 95%, 20% 90%, 5% 60%
    );
    display: block;
}
#cookie:active{
    transform: scale(0.95);
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Find Cartoon;
    font-size: 50px;
    user-select: none;
    filter: drop-shadow(0 0 3px rgb(38, 29, 22));
}
body{
    background-color: rgb(51, 159, 222);
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Find Cartoon;
    font-size: 35px;
    user-select: none;
    filter: drop-shadow(0 0 3px rgb(38, 29, 22));
}
p{
    text-align: center;
}
#cookie-count{
    transition: transform 0.1s ease;
}
#cookie-count.pop{
    transform: scale(1.25);
}
#buy-menu-border{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 230, 230);
    height: 100px;
    width: 550px;
    border-radius: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 5px rgb(38, 29, 22));
}
#menu-item-1{
    text-align: center;
    background-color: rgb(209, 209, 209);
    height: 75px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px 10px;
    font-family: Find Cartoon;
    user-select: none;
    transition: transform 0.1s ease;
    filter: drop-shadow(0 0 3px rgb(38, 29, 22));
}
#menu-item-2{
    text-align: center;
    background-color: rgb(209, 209, 209);
    height: 75px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px 10px;
    font-family: Find Cartoon;
    user-select: none;
    transition: transform 0.1s ease;
    filter: drop-shadow(0 0 3px rgb(38, 29, 22));
}
#menu-item-3{
    text-align: center;
    background-color: rgb(209, 209, 209);
    height: 75px;
    width:170px;
    cursor: pointer;
    border-radius: 10px 10px;
    font-family: Find Cartoon;
    user-select: none;
    transition: transform 0.1s ease;
    filter: drop-shadow(0 0 3px rgb(38, 29, 22));
}
.anim:active{
    transform: scale(1.07);
}
#custom-alert-1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 10px;
}
.alert-buttons-1{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button1{
    height: 25px;
    justify-content: center;
    
    transition: transform 0.1s ease;
    border: none;
    background-color: rgb(209, 209, 209);
    border-radius: 5px 5px;
    filter: drop-shadow(0 0 2px rgb(38, 29, 22));
    font-family: Find Cartoon;
}
.button1:active{
    transform: scale(1.07);
}
#alert-title-1{
    font-size: 15px;
    filter: none;
}
#custom-alert-1{
    border-radius: 10px 10px;
    margin-top: -175px;
    filter: drop-shadow(0 0 5px rgb(38, 29, 22));
}
.inactive-filter-state{
    filter: none;
}
.active-filter-state{
    filter: blur(5px);
}
#custom-alert-double-2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px 10px;
    margin-top: -175px;
    width: 480px;
}
#alert-button-close-double-2{
    transition: transform 0.1s ease;
}
#alert-button-close-double-2:active{
    transform: scale(1.025);
}
#custom-alert-tripple-2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px 10px;
    margin-top: -175px;
    width: 480px;
}
#alert-button-close-tripple-2{
    transition: transform 0.1s ease;
}
#alert-button-close-tripple-2:active{
    transform: scale(1.025);
}
#custom-alert-quadruple-2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px 10px;
    margin-top: -175px;
    width: 510px;
}
#alert-button-close-quadruple-2{
    transition: transform 0.1s ease;
}
#alert-button-close-quadruple-2:active{
    transform: scale(1.025);
}
#custom-alert-3{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px 10px;
    margin-top: -175px;
    width: 480px;
}
#alert-button-close-3{
    transition: transform 0.1s ease;
}
#alert-button-close-3:active{
    transform: scale(1.04);
}
#custom-alert-4{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px 10px;
    margin-top: -175px;
    width: 300px;
}
#alert-button-close-4{
    transition: transform 0.1s ease;
}
#alert-button-close-4.active-filter-state{
    transform: scale(1.04);
}
#custom-alert-5{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px 10px;
    margin-top: -175px;
}
.alert-buttons-5{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button1{
    height: 25px;
    justify-content: center;
    
    transition: transform 0.1s ease;
    border: none;
    background-color: rgb(209, 209, 209);
    border-radius: 5px 5px;
    filter: drop-shadow(0 0 2px rgb(38, 29, 22));
    font-family: Find Cartoon;
}
.button1:active{
    transform: scale(1.07);
}